@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin background($background-repeat: no-repeat, $background-position: center, $background-size: 100%) {
  background-repeat: $background-repeat;
  background-position: $background-position;
  background-size: $background-size;
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}

@mixin font-face($font-family, $url, $weight, $style: normal) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
    url('../fonts/#{$url}.woff') format("woff");
    font-weight: $weight;
    font-display: swap;
    font-style: $style;
  }
}